.main {
  min-height: 100vh;
}

.homeSection {
  padding-top: 15px;
  padding-bottom: 15px;
}

.homeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}